#topper {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),  url(../img/img2/travel.jpg);
	width:100%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#below {
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),  url(../img/img2/contact.jpeg);
	width: 100%;
		background-position: center;
	background-size: cover;
	background-attachment: fixed;

}